* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Verdana", "arial", "sans-serif";
}

header {

    background-color: white;
    text-align: center;
    width: 100%;
    border: 5px solid black;
}

h1, h2, h3 {
    font-family: impact, arial;
    letter-spacing: 1.5px;
    margin: 5px;
}

main {
    background-color: aliceblue;

}

footer {
    background-color: orange;
    height: 40px;
}

.social-links {
    padding: 10px 0;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    list-style-type: none;
}

footer>i {
    margin: 20px;

}

nav:hover {
    color: orange;
}

nav {
    margin: 10px;
}

nav>a {
    padding: 0 10px;
    text-transform: uppercase;
    margin: 0 10px;
}

form {
    margin: 20px;
}

div {
    text-align: center;
}

div>p {
    margin: 10px;
}

fieldset {
    margin: 20px;
}

.button {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    margin-left: 17px;
}

.reset {
    background-color: red;
    color: black;
    text-align: center;
    padding: 10px;
    margin-left: 10px;

}

#text {
    background-color: rgba(50, 50, 50, 0.6);
    padding: 5px 20px;

}

#part-gallery {
    background-color: rgb(50, 50, 50, .6);
    padding: 5px;
    margin: 5px;
    text-align: center;
    flex-basis: 350px;
    flex-grow: 1;

}

.section {
    color: white;
    background: url("../images/pc-case.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

